{% extends 'base.html' %}
{% block content %}
<h1>{{ post.title }}</h1>

{% if post.preview %}
    <img src="{{ post.preview.url }}" alt="preview" width="300">
{% endif %}

<p><strong>Дата создания:</strong> {{ post.created_at|date:"d.m.Y H:i" }}</p>
<p><strong>Просмотров:</strong> {{ post.views_count }}</p>

<hr>
<p>{{ post.content }}</p>

<hr>
<a href="{% url 'blog:blog_update' post.pk %}">Редактировать</a> |
<a href="{% url 'blog:blog_delete' post.pk %}">Удалить</a> |
<a href="{% url 'blog:blog_list' %}">Назад к списку</a>
{% endblock %}
